{
  "presets": [["react-app", { "flow": false, "typescript": true }]],
  "plugins": [
    ["babel-plugin-styled-components", { "pure": true }]
  ],
  "env": {
    "production": {
      "plugins": [
        "polished"
      ]
    },
    "test": {
      "plugins": [
        "@babel/transform-modules-commonjs"
      ]
    }
  }
}
