{
  "extends": [
    "airbnb",
    "react-app"
  ],
  "root": true,
  "settings": {
    "import/resolver": {
        "node": {
            "paths": ["src"],
            "extensions": [".js", ".jsx", ".ts", ".tsx"]
        }
    }
  },
  "rules": {
    "jsx-a11y/label-has-for": [2, {"required": { "some": ["nesting", "id"] }}],
    "jsx-a11y/label-has-associated-control": ["error", { "assert": "either" } ],
    "import/extensions": "off",
    "consistent-return": "off",
    "react/no-unused-prop-types": "off",
    "no-bitwise": "off",
    "object-curly-newline": "off",
    "react/jsx-filename-extension": "off",
    "no-unused-expressions": ["error", { "allowTaggedTemplates": true }],
    "@typescript-eslint/indent": ["error", 2],
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "react/react-in-jsx-scope": "off",
    "prettier/prettier": "off",
    "react/jsx-props-no-spreading": "off",
    "react/require-default-props": "off",
    "react/prop-types": "off"
  }
}
